repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^conda-forge/meta\.yaml$
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude: ^conda-forge/meta\.yaml$

  - repo: https://github.com/pycqa/pylint
    rev: v3.3.5
    hooks:
      - id: pylint
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst
          )$
        args:
          [
            "--disable=E0401,R0902,R0913,R0917,R0914,R0912,R0904,R1705,C0103,R1710,C2801,C0415,R1720,R1711,R0915,W0603,R0911",
          ]

  - repo: local
    hooks:
      - id: sync-conda-recipe
        name: Sync conda recipe from pyproject.toml
        entry: python scripts/sync_conda_recipe.py
        language: python
        additional_dependencies: ["tomli>=2.0.1"]
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes conda-recipe/meta.yaml with pyproject.toml"

      - id: sync-conf-version
        name: Sync conf.py release with pyproject.toml version
        entry: python scripts/sync_conf_version.py
        language: python
        files: ^docs/source/conf\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-about-version
        name: Sync __about__.py __version__ with pyproject.toml version
        entry: python scripts/sync_about_version.py
        language: python
        files: ^src/fedfred/__about__\.py$
        stages: [pre-commit]
        additional_dependencies: ["toml"]

      - id: sync-conda-recipe-version
        name: Sync conda-recipe/meta.yaml version with pyproject.toml
        entry: python scripts/sync_conda_forge_version.py
        language: python
        files: ^(pyproject\.toml|conda-recipe/meta\.yaml)$
        pass_filenames: false
        description: "Synchronizes the version in conda-recipe/meta.yaml with pyproject.toml"
        additional_dependencies: ["tomli"]

      - id: mypy-local
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: |
          (?x)^(
              docs/.*|
              tests/.*|
              scripts/.*|
              examples/.*|
              .*\.md|
              .*\.rst|
              src/fedfred/__init__.pyi
          )$
        args:
          [
            "--ignore-missing-imports",
            "--namespace-packages",
            "--explicit-package-bases",
          ]
#      - id: tox
#        name: Run tox
#        entry: tox
#        language: system
#        pass_filenames: false
#        always_run: true
